// Fonts
$font-main: 'Graphik LCG';

// Colors
$clr-bg-header__top: rgba(255, 255, 255, 0.85);
$clr-main-text: #051534;
$clr-bg-main:  #FFF;
$clr-bg-header: #FBFBFB;

$clr-nav-items: #2C3038;

$clr-footer-bg: #051534;
$clr-footer:#8394B5;

$clr-btn-green:#00C064;
$clr-btn-green-hover:#00aa58;
$clr-btn-blue:#0F8FF9;
$clr-btn-blue-hover:#0081eb;

// Media
$screen-md: 990px;
$screen-sm: 600px;